@model IEnumerable<BugTrackerProj.Models.ApplicationUser>

<table border="1" class="table table-striped">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Project Name
            </th>
            <th>
                User
            </th>
            <th>
                Date
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    @foreach (var user in Model)
    {
        <form method="get">

            <tbody class="tablebody">

                <tr>
                    <td>
                        <img src="~/Assets/@user.PhotoPath" width="70" height="70" />
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @user.UserName
                    </td>
                    <td>
                        @user.FirstName
                    </td>
                    <td>
                        @user.LastName
                    </td>
                    <td>
                        <input type="submit" value="Update" asp-action="UpdateUser" asp-route-id="@user.Id" />
                    </td> <td>
                        <input type="submit" value="Details"  asp-action="UserDetails" asp-route-id="@user.Id" />
                    </td>
                </tr>

            </tbody>
        </form>
    }
</table>