@{
    ViewData["Title"] = "Home Page";
    ViewBag.projid = ViewContext.RouteData.Values["id"];
}
@model BugTrackerProj.ViewModels.MainPageViewModel
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
        <button type="submit" asp-action="Logout">LogOut</button>
    </form>
    <form asp-controller="Home" asp-action="Index" method="get">
        <input type="text" name="searchtext" />
        <input type="submit" value="Search" />
    </form>
        @foreach (var bug in Model.Bugs)
        {

            <table border="1" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => bug.BugId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => bug.BugDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => bug.User.FirstName)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @bug.BugId
                        </td>
                        <td>
                            @bug.BugDate
                        </td>
                        <td>
                            @bug.Description
                        </td>
                    </tr>


                </tbody>
            </table>

      
    }
    </div>
