@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Bug>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
        <button type="submit" asp-action="Logout">LogOut</button>
    </form>
    <table border="1" class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BugId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BugDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.FirstName)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var bug in Model)
            {
                <tr>
                    <td>
                        @bug.BugId
                    </td>
                    <td>
                        @bug.BugDate
                    </td>
                    <td>
                        @bug.Description
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>
