@model BugTrackerProj.ViewModels.MainPageViewModel
<div>

    <form>
        <div>
            <label asp-for="CategoryId" class="control-label"></label>
        </div>
        <div>
            @Html.DropDownListFor(m => m.CategoryId, new List<SelectListItem>(ViewBag.CategoryId), "Choose Category")
        </div>
        <input class="btn-info" type="submit" value="Search" asp-action="Index" />
    </form>
</div>
<table border="1" class="table table-striped">
    <thead>
        <tr>
            <th>
                Project Name
            </th>
            <th>
                User
            </th>
            <th>
                Date
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody id="tablebody">
        @foreach (var bug in Model.Bugs)
        {

            @using (Html.BeginForm("Solved", "AdminRole", new { id = bug.BugId }))
            {
                <tr>
                    <td>
                        @bug.Category.CtaegoryName
                    </td>
                    <td>
                        @bug.User.UserName
                    </td>
                    <td>
                        @bug.BugDate
                    </td>
                    <td>
                        @bug.Description
                    </td>
                    <td>

                        <input type="submit" class="btn-primary" value="Details" asp-controller="Home"  asp-action="BugDetails" asp-route-id="@bug.BugId"  />
                        @if (User.IsInRole("CompanyManager"))
                        {
                            <input type="submit" value="Solved" class="btn-success" onclick="confirm('Are you Sure You Finished With this Bug?')" />
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
           



