@model BugTrackerProj.ViewModels.MainPageViewModel

<table border="1" class="table table-striped">
    <thead>
        <tr>
            <th>
                Project Name
            </th>
            <th>
                User
            </th>
            <th>
                Date
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bug in Model.Bugs)
        {
            @using (Html.BeginForm("Solved", "AdminRole", new { id = bug.BugId }))
            {
                <tr>
                    <td>
                        @bug.Category.CtaegoryName
                    </td>
                    <td>
                        @bug.User.UserName
                    </td>
                    <td>
                        @bug.BugDate
                    </td>
                    <td>
                        @bug.Description
                    </td>
                    <td>
                        <input type="submit" value="Details" asp-controller="Home" asp-action="BugDetails" asp-route-id="@bug.BugId" />
                        @if (User.IsInRole("Admin")||User.IsInRole("CompanyManager"))
                        {
                        <input type="submit" value="Solved" onclick="" />
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



